body {
    background: linear-gradient(#901300, #d9bf9d)
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #901300;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Abril Fatface', sans-serif;
    color: #d9bf9d;
    text-shadow: 3px 3px 2px black;
    font-size: 50px;
}

#logo-img{
    border-radius: 200px;
}

#navbar {
    display: flex;
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -100px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: start;
    margin-left: -8px;
  }
  
  /* Style the navbar links */
  #navbar a {
    display: inline;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  #nav-img{
    border-radius: 200px;
    width: 80px;
  }
  
  #about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 400px;
    position: relative;
    background-image: url(images/graduation.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
  }